
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'icons/' %}" />
    <link rel="shortcut icon" href="{% static 'icons/favicon.svg' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="esb" />
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<title>{{ request.user.username }}</title>


</head>
<body>

<table>
    <tr>
        <th><a href="{% url 'home' %}">ГЛАВНАЯ</a></th>
        <th><a href="{% url 'edit_profile' %}">ПРОФИЛЬ</a></th>
        <th><a href="{% url 'manage_categories' %}">КАТЕГОРИИ</a></th>
        <th><a href="{% url 'userdata' %}">ДАННЫЕ</a></th>
    </tr>
</table>

<!-- Форма для добавления новой категории -->
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>{{ form.name }}</th>
            <th><button type="submit" name="add_category">Добавить категорию</button></th>
        </tr>
    </table>
</form>

<hr>

<table>
    {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <th>
                <form method="post" style="display:inline">
                {% csrf_token %}
                    <button type="submit" name="delete_category" value="{{ category.id }}">Удалить</button>
                </form>
            </th>
        </tr>
    {% empty %}
        <tr>Категорий пока нет</tr>
    {% endfor %}
</table>


</body>
